h1 {
    text-align: center;
    text-decoration: underline;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 10px;
    justify-items: center;
    list-style-type: none;
    place-content: center;
}

.pokemon-details {
    background-color: #89c4e1;
    margin: 20px 0;
    transition: all ease-in-out .3s;
    border-radius: 15px 50px;
    width: 100px;
    height: 25px;
    text-align: center;

    &:hover, &:focus {
        cursor: pointer;
        opacity: 0.5;
    }
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;    /* to show it above other content */
    overflow: auto;    /* to allow scrolling if the screen is not high enough*/
    display: grid;    /* this is used to center the modal */

    .modal {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        box-sizing: border-box;
        background: #30a7d7;
        padding: 15px;
        width: 100%;
        max-width: 700px;
        border-radius: 5%;


        &-close {
            position: absolute;
            top: 20px;
            right: 20px;
            border: 0;
            background: none;
            color: #000;
            text-decoration: underline;

            &:hover, &:focus {
                cursor: pointer;
                opacity: 0.5;
            }
        }

        ul {
            margin-top: 10%;
            text-align: left;
        }

        img {
            margin: auto 0 auto auto;
            max-height: 300px;
            max-width: 300px;
        }
    }
}

@media all and (max-width: 500px) {
    .modal {
        grid-template-rows: repeat(2, 1fr);
    }
    h1 {
        font-size: 22px;
      }
}