/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.pokemon-details {
    background-color: #89c4e1;
    margin: 20px 0;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-radius: 15px 50px;
}
.pokemon-details:hover, .pokemon-details:focus {
    cursor: pointer;
    opacity: 0.5;
}
#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
   /* to show it above other content */
    overflow: auto;
   /* to allow scrolling if the screen is not high enough*/
    display: -ms-grid;
    display: grid;
   /* this is used to center the modal */
}
#modal-container.is-visible .modal {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #30a7d7;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    border-radius: 5%;
}
#modal-container.is-visible .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    background: none;
    color: #000;
    text-decoration: underline;
}
#modal-container.is-visible .modal-close:hover, #modal-container.is-visible .modal-close:focus {
    cursor: pointer;
    opacity: 0.5;
}
#modal-container.is-visible .modal h1 {
    text-align: center;
    text-decoration: underline;
}
#modal-container.is-visible .modal ul {
    margin-top: 10%;
    text-align: left;
}
#modal-container.is-visible .modal img {
    margin: auto 0 auto auto;
    max-height: 300px;
    max-width: 300px;
}
@media all and (max-width: 500px) {
    .modal {
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
   }
    h1 {
        font-size: 22px;
   }
}
