body {
    background-color: #FFDE00;
}

.navbar {
    background-color: #3B4CCA;
    font-family: 'Pokemon Solid', sans-serif;
                                                
}

.pokeball {
    border-radius: 50%;
}

main {
    padding-top: 3%;
    padding-bottom: 3%;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 10px;
    justify-items: center;
    place-content: center;
}

.modal-content {
    background-color: #5EBDFC;
}

.modal-title {
    font-family: 'Bungee Shade', cursive;
}

@media all and (min-width: 750px) and (max-width: 1300px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: repeat(8, auto);
      grid-template-rows: auto;
    }
}

@media all and (min-width: 540px) and (max-width: 1024px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: auto;
    }
}

@media all and (max-width: 540px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
    }    
}